#wrap{
	background-color: #E5E5E5;
	min-width: 387px;
	font-size: 0.9em;
}

header{
	position: relative;
	height: 48px;
	line-height: 48px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #C8C8C8;
	text-align: center;
}

#action{
	position: absolute;
	width: 48px;
	height: 48px;
	text-align: center;
}

#logo img{
	height: 30px;
	vertical-align: middle;
}

#search{
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
	text-align: center;
}

.icon{
	background-image: url("./../img/mobile_img.png");
	background-size: 48px 24px;
	vertical-align: middle;
}

#action span{
	display: inline-block;
	background-position: 0px 0px;
	width: 24px;
	height: 24px;
}

#search span{
	display: inline-block;
	background-position: -25px 0px;
	width: 24px;
	height: 24px;
}

/*nav*/
#select_wrap {
	margin: 0 32px;
	text-align: center;
}

#select{
	display: inline-block;
	overflow: auto;
	margin: 15px 0 0 -10px;
	text-align: left;
}

.category{
	display: inline-block;
	width: 155px; 
	height: 34px;
	line-height: 34px;
	margin: 5px 5px;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #D3D3D3;
	box-shadow: 0 1px 0 0 #D9D9D9;
}

section{
	clear: both;
}

.move{
	background-image: url('./../img/slideshow.png');
	width: 32px;
	height: 44px;
	z-index: 100;
	position: fixed;
}

#left_move{
	background-position: 0px 0px;
	top: 50vh;
	left: 0;
}

#right_move{
	background-position: 32px 0px;
	top: 50vh;
	right: 0;
}

#section_wrap{
	margin: 0 20px;
	overflow: auto;
	position: relative;
}

.shelf{
	margin: 20px auto;
}

.shelf .heading{
	position: relative;
	padding: 5px;
}

.shelf h1{
	display: inline-block;
	font-size: 1.7em;
	font-weight: 100;
	color: #333333;
}

.shelf .heading div.more{
	position: absolute;
	right: 0px;
	bottom: 5px;
	width: 68px;
	height: 30px;
	border-radius: 3px;
	background-color: #1AA1E1;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
	color: #FFFFFF;
}


.book{
	height: 330px;
	overflow: hidden;
}

.book > li{
	display: inline-block;
	margin: 0 5px;
	width: 160px;
	height: 330px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.cover{
	position: relative;
	height: 245px;
	line-height: 245px;
	background-color: #F5F5F5;
	border-top-left-radius: 2px; 
	border-top-right-radius: 2px;
}

.cover img{
	width: 160px;
	vertical-align: middle;
}

.content {
	position: relative;
	width: 160px;
	height: 85px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}


.content .title{
	position: absolute;
	top: 10px;
	left: 10px;
	height: 17px;
	overflow: hidden;
	font-size: 1.1em;
}

.content .author{
	position: absolute;
	top: 30px;
	left: 10px;
	font-size: 0.9em;
	height: 15px;
	overflow: hidden;
}

.content .author a{
	color: #AAAAAA;
}

.content .price{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 0.8em;
}

.content .price a{
	color: #1AA1E1;
}

#section_more{
	text-align: center;
	padding: 20px 0;
}

#section_more span{
	display: inline-block;
	width: 84px;
	height: 36px;
	line-height: 36px;
	border: 1px solid;
	background-color: #FFFFFF;
	border-radius: 2px;
	border: 1px solid #D3D3D3;
	box-shadow: 0 1px 0 0 #D9D9D9;
}

footer{
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 13px;
}

#bottom{
	display: inline;
}
#bottom li {
	display: inline;
}
#bottom a {
	color: #AAAAAA;
}

@media (max-width: 680px) {
	#select, .shelf{
		width: 515px;
	}
}

@media (max-width: 510px) {
	#select, .shelf {
		width: 346px;
	}
}

