header{
	background-color: #F1F1F1;
	min-width: 780px;
	height: 60px;
	min-height: 60px;
}

#logo{
	float: left;
	line-height: 60px;
	margin-left: 30px;
	margin-right: 30px;
}

#logo img{
	height: 40px;
	vertical-align: middle;
}


#action_right {
	float: right;
	margin-right: 30px;
	width: 210px;
	height: 60px;
}

#action_right span, #action_right div {
	margin: 15px 5px 0 5px;
}

span.icon{
	display: inline-block;
	cursor: default;
	background-image: url("./../img/header_img.png");
	background-size: 112px 1900px;
}

#action_right .plus{
}

#action_right .app {
	background-position: -51px -452px;
	width: 30px;
	height: 30px;
	opacity: 0.75;
}

#action_right a{
	cursor: default;
}

#action_right a.app:hover{
	background-position: -51px -452px;
	width: 30px;
	height: 30px;
	opacity: 1;
}

#action_right .alarm{
	background-position: 0px -69px;
	width: 30px;
	height: 30px;
	opacity: 0.75;
}

#action_right a.alarm:hover{
	background-position: 0px -69px;
	width: 30px;
	height: 30px;
	opacity: 1;
}

#action_right .share{
	background-position: -45px -1832px;
	width: 64px;
	height: 30px;
	opacity: 0.75;
}

#action_right a.share:hover{
	background-position: -45px -1832px;
	width: 64px;
	height: 30px;
	opacity: 1;
}

#action_right .account{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url("https://lh4.googleusercontent.com/-6yFI_pZJktY/AAAAAAAAAAI/AAAAAAAAAAw/28Ww8SHbGHE/s64-c/photo.jpg");
	background-size: 32px 32px;
}

#search {
	height: 60px;
	min-width: 100px;
	max-width: 650px;
	margin-left : 248px;
	margin-right: 330px;
}

#search form{
	position: relative;
	height: 30px;
}

#search input{
	margin-top: 15px;
	width: 100%;
	height: 28px;
	border: 1px solid #cdcdcd;
	border-right-width: 0;
}

#search button{
	position: absolute;
	right: 0;
	top: 15px;
	width: 60px;
	height: 30px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #4684EF;
}

#search span{
	background-position: -69px -349px;
	width: 30px;
	height: 30px;
}

nav{
	height: 48px;
	min-height: 48px;
	min-width: 1000px;
	background-color: #FFFFFF;
}

#service{
	float: left;
	position: relative;
	width: 200px;
	height: 48px;
	font-size: 18px;
	background-color: #1AA1E1;
}

#service span.icon{
	position: absolute;
	top: 12px;
	background-image: url("./../img/book.png");
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	left: 24px;
}

#service .now_service{
	position: absolute;
	right: 0;
	width: 127px;
	height: 48px;
	line-height: 48px;
}

#service .now_service a{
	color: #FFFFFF;
}

#select{
	float: left;
	margin-left: 30px;
}

#select .genre{
	display: inline-block;
	width: 80px;
	text-align: center;
	cursor: default;
}

#select .genre a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

#select .genre span{
	background-image: url("./../img/more.png");
	background-size: 15px 15px;
	width: 15px;
	height: 15px;
}

#select .genre a:hover{
	background-color: #F2F2F2;
	cursor: default;
}

#select .bar{
	display: inline-block;
	width: 1px;
	height: 30px;
	background: #D6D6D6;
	vertical-align: middle;
}

#select ul, #select li{
	display: inline-block;
	height: 48px;
	line-height: 48px;
	text-align: center;
}

#select .category > li:nth-child(1){
	width: 42px;
}

#select .category > li:nth-child(2){
	width: 87px;
}

#select .category > li:nth-child(3){
	width: 56px;
}

#select .category a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

#select .category a:hover{
	background-color: #F2F2F2;
}

#option{
	float: right;
	margin-right: 30px;
	width: 300px;
	height: 48px;
}

#option .help, #option .setting{
	float: right;
	display: inline-block;
	height: 30px;
	border-radius: 3px;
	border: 1px solid #D3D3D3;
	margin: 10px 10px;
}

#option .help{
	width: 40px;
}

#option .help .icon{
	background-image: url("./../img/help.png");
	background-size: 21px 21px;
	width: 21px;
	height: 21px;
	margin: 3px 9px;
}

#option .setting{
	width: 55px;
}

#option .setting .icon{
	background-image: url("./../img/setting.png");
	background-size: 21px 21px;
	width: 21px;
	height: 21px;
	margin: 4px 16px;
}

aside{
	clear: both;
	position: absolute;
	width: 200px;
	height: 240px;
	font-size: 18px;
	z-index: 1;
}

aside div a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

#move_service{
	float: left;
	width: 24px;
	height: 192px;
	line-height: 192px;
	background-color: #FFFFFF;
}

#move_service span{
	vertical-align: middle;
	background-position: -66px 3px;
	width: 24px;
	height: 24px;
}

#move_service a:hover{
	background-color: #555555;
}

#menu{
	float: left;
	position: relative;
	width: 176px;
	height: 192px;
	background-color: #F3F3F3;
}

#menu li{
	height: 36px;
	line-height: 36px;
	color: #55556D;
}

#menu li:nth-child(1){
	margin-top: 10px;
}

#menu li a:hover{
	background-color: #E6E6E6;
}

#menu span{
	display: inline-block;
	width: 176px;
	height: 100%;
	padding-left: 20px;
}

section{
	overflow: hidden;
}

.shelf{
	min-width: 660px;
	margin: 40px 0 0 200px;
	padding-left: 50px;

}

.shelf .heading{
	position: relative;
}

.shelf h1{
	display: inline-block;

}

.shelf .heading div.more{
	position: absolute;
	right: 0px;
	bottom: 5px;
	width: 68px;
	height: 30px;
	border-radius: 3px;
	background-color: #1AA1E1;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
	color: #FFFFFF;
}


.book{
	height: 330px;
	max-height: 330px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.book > li{
	float: left;
	margin: 0 5px;
	width: 160px;
	height: 330px;
}

.book > li:nth-child(1){
	margin-left: 0px;
}

.cover{
	position: relative;
	height: 245px;
	line-height: 245px;
	background-color: #F5F5F5;
	border-top-left-radius: 2px; 
	border-top-right-radius: 2px;
}

.cover img{
	width: 160px;
	vertical-align: middle;
}

.overlay{
	display: inline-block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-top-left-radius: 2px; 
	border-top-right-radius: 2px;
	background-color: black;
	opacity: 0;
}

.overlay:hover{
	opacity: 0.3;
}

.content {
	position: relative;
	width: 160px;
	height: 85px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.content a:hover{
	text-decoration:underline;
}

.content .title{
	position: absolute;
	top: 10px;
	left: 10px;
	height: 17px;
	overflow: hidden;
}

.content .author{
	position: absolute;
	top: 30px;
	left: 10px;
	font-size: 0.9em;
	height: 15px;
	overflow: hidden;
}

.content .author a{
	color: #AAAAAA;
}

.content .price{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 0.8em;
}

.content .price a{
	color: #1AA1E1;
}



footer{
	margin-left: 200px;
	padding-left: 20px;
	padding-top: 40px;
	font-size: 13px;
}

#bottom{
	display: inline;
}
#bottom li {
	display: inline;
}
#bottom a {
	color: #AAAAAA;
}

