.icon{
	display: inline-block;
	background-image: url("./../img/pc_img.png");
	background-size: 112px 1900px;
}



header{
	background-color: #F1F1F1;
	min-width: 780px;
	height: 60px;
	min-height: 60px;
}

#logo{
	float: left;
	line-height: 60px;
	margin: 0 30px;
}

#logo img{
	height: 39px;
	vertical-align: middle;
}

#action_right {
	float: right;
	position: relative;
	margin-right: 30px;
	width: 250px;
	height: 60px;
}

#action_right .action{
	position: absolute;
	top: 15px;
	right: 0;
	height: auto;
}

#action_right .action li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

#action_right .action a{
	cursor: default;
}

#action_right .plus{
	font-size: 13px;
	vertical-align: top;
}

#action_right .plus:hover{
	cursor: pointer;	
	text-decoration: underline;
}

#action_right .app {
	background-position: -51px -452px;
	width: 30px;
	height: 30px;
	opacity: 0.75;
}

#action_right .app:hover{
	opacity: 1;
}

#action_right .alarm{
	background-position: 0px -69px;
	width: 30px;
	height: 30px;
	opacity: 0.75;
}

#action_right .alarm:hover{
	opacity: 1;
}

#action_right .share{
	background-position: -45px -1832px;
	width: 64px;
	height: 30px;
	opacity: 0.75;
}

#action_right .share:hover{
	opacity: 1;
}

#action_right .account{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url("https://lh4.googleusercontent.com/-6yFI_pZJktY/AAAAAAAAAAI/AAAAAAAAAAw/28Ww8SHbGHE/s64-c/photo.jpg");
	background-size: 32px 32px;
}

#search {
	height: 60px;
	min-width: 100px;
	max-width: 650px;
	margin-left : 245px;
	margin-right: 330px;
}

#search form{
	position: relative;
	height: 30px;
}

#search input{
	margin-top: 15px;
	width: 95%;
	height: 28px;
	border: 1px solid #cdcdcd;
	border-right-width: 0;
	outline-style: none;
	padding-left: 10px;
	font-size: 1em;
}

#search button{
	position: absolute;
	right: 0;
	top: 15px;
	width: 60px;
	height: 30px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #4684EF;
}

#search .icon{
	background-position: -69px -349px;
	width: 30px;
	height: 30px;
}




nav{
	height: 48px;
	min-height: 48px;
	min-width: 1000px;
	background-color: #FFFFFF;
}

#service{
	float: left;
	position: relative;
	width: 200px;
	height: 48px;
	font-size: 18px;
	background-color: #1AA1E1;
}

#service .icon{
	position: absolute;
	top: 12px;
	left: 28px;
	background-position: -5px -1831px;
	width: 24px;
	height: 24px;
}

#service .now_service{
	position: absolute;
	right: 0;
	width: 127px;
	height: 48px;
	line-height: 48px;
}

#service .now_service a{
	color: #FFFFFF;
}

#select{
	float: left;
	margin-left: 34px;
	font-size: 0.9em;
}

#select ul, #select li{
	display: inline-block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #8D8D8D;
}

#select .genre{
	display: inline-block;
	width: 80px;
	text-align: center;
	cursor: default;
}

#select .genre a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

#select .genre .icon{
	background-position: -26px -1849px;
	width: 15px;
	height: 15px;
}

#select .genre a:hover{
	background-color: #F2F2F2;
	cursor: default;
}

#select .bar{
	display: inline-block;
	width: 1px;
	height: 30px;
	background: #D6D6D6;
	vertical-align: middle;
}

#select .category > li:nth-child(1){
	width: 42px;
	height: 45px;
	border-bottom: 3px solid #1AA1E1;
}

#select .category > li:nth-child(2){
	width: 87px;
}

#select .category > li:nth-child(3){
	width: 56px;
}

#select .category a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

#select .category a:hover{
	background-color: #F2F2F2;
}

#option_right{
	float: right;
	width: 300px;
	height: 48px;	
	margin-right: 30px;
}

#option_right .help, #option_right .setting{
	float: right;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	border-radius: 3px;
	border: 1px solid #D3D3D3;
	margin: 10px 10px;
	box-shadow: 0 1px 0 0 #F2F2F2;
}

#option_right .help{
	width: 40px;
}

#option_right .help .icon{
	background-position: -30px -1873px;
	width: 21px;
	height: 21px;
	margin: 4px 11px;
}

#option_right .setting{
	width: 55px;
	cursor: default;
}

#option_right .setting .icon{
	background-position: -4px -1873px;
	width: 21px;
	height: 21px;
	margin: 4px 17px;
}

#option_right a:hover{
	border-color: #B1B1B1;
	box-shadow: 0 1px 0 0 #B1B1B1;
}

#option_right a.setting:hover{
	cursor: default;
}

aside{
	clear: both;
	position: absolute;
	width: 200px;
	height: 240px;
	font-size: 18px;
	z-index: 1;
}

aside a{
	display: inline-block;
	width: 100%;
	height: 100%;
}

#move_service{
	float: left;
	width: 24px;
	height: 192px;
	line-height: 192px;
	background-color: #FFFFFF;
}

#move_service span{
	vertical-align: middle;
	background-position: -85px 2px;
	width: 24px;
	height: 24px;
}

#move_service a:hover{
	background-color: #555555;
}

#menu{
	float: left;
	position: relative;
	width: 176px;
	height: 192px;
	background-color: #F3F3F3;
}

#menu li{
	height: 36px;
	line-height: 36px;
	color: #55556D;
}

#menu li:nth-child(1){
	margin-top: 6px;
}

#menu li a:hover{
	background-color: #E6E6E6;
}

#menu span{
	display: inline-block;
	width: 176px;
	height: 100%;
	padding-left: 23px;
}

#menu .shop{
	color: #1380B5;
}



section{
	overflow: hidden;
}

.shelf{
	min-width: 660px;
	margin: 40px 0 0 200px;
	padding-left: 50px;
}

.shelf .heading{
	position: relative;
}

.shelf h1{
	display: inline-block;
	font-size: 28px;
}

.shelf .heading div.more{
	position: absolute;
	right: 0px;
	bottom: 5px;
	width: 68px;
	height: 30px;
	border-radius: 3px;
	background-color: #1AA1E1;
	margin-right: 10px;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
}


.book{
	height: 330px;
	max-height: 330px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.book > li{
	float: left;
	margin: 0 5px;
	width: 160px;
	height: 330px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.book > li:nth-child(1){
	margin-left: 0px;
}

.cover{
	position: relative;
	height: 245px;
	line-height: 245px;
	background-color: #F5F5F5;
	border-top-left-radius: 2px; 
	border-top-right-radius: 2px;
}

.cover img{
	width: 160px;
	vertical-align: middle;
}

.cover .overlay{
	display: inline-block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-top-left-radius: 2px; 
	border-top-right-radius: 2px;
	background-color: black;
	opacity: 0;
}

.cover .overlay:hover{
	opacity: 0.3;
}

.content {
	position: relative;
	width: 160px;
	height: 85px;
	background-color: #FFFFFF;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.content a:hover{
	text-decoration:underline;
}

.content .title{
	position: absolute;
	top: 10px;
	left: 10px;
	height: 17px;
	overflow: hidden;
}

.content .author{
	position: absolute;
	top: 30px;
	left: 10px;
	font-size: 0.9em;
	height: 15px;
	overflow: hidden;
}

.content .author a{
	color: #AAAAAA;
}

.content .price{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 0.8em;
}

.content .price a{
	color: #1AA1E1;
}



footer{
	margin-left: 200px;
	padding-left: 20px;
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 13px;
}

#bottom{
	display: inline;
}
#bottom li {
	display: inline;
}
#bottom a {
	color: #AAAAAA;
}

