body{
	background-color: #e5e5e5;
}

header{
	width: 100%;
	height: 60px;
}

aside{
	float: left;
	width: 200px;
}

nav{
	float: left;
	/*height: 50px;*/
	padding-left: 20px;
}

section, footer{
	clear: both;
	margin-left: 200px;
	padding-left: 20px;
	padding-top: 20px;
}
/*
header > a{
	width: 184px;
	height: 40px;
}
*/
header > a > img{
	width:200px;
	height: 40px;
	margin-left: 20px;
	margin-top: 10px;
}

div.shelf{
	margin-bottom: 10px;
}

ul.book{
	height: 320px;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.book > li{
	float: left;
	margin-left: 10px;
	margin-right: 10px;

	width: 150px;
	height: 300px;
}

ul.book > li:nth-child(1){
	margin-left: 0px;
}


div.cover{
	/*width: 150px;*/
	height: 220px;
}

div.cover > img{
	width: 146px;
	vertical-align: middle;
}

ul.content {
	padding: 2px; 
}

li.price{
	color: blue;
}

footer li{
	display: inline;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

h1{
	clear: both;
}

#search {
	display: inline;
}

#action_right {
	float: right;
}
